<div class="the-unserious-manifest-book">
  <book>
    <cover-page>
      <h1>
        The Unserious Manifest
      </h1>
    </cover-page>
    <page>
      <p>
        Success in life is always related to how serious you take it. If you
        take college seriously, you get a good job. If you take your job
        seriously, you get a raise. Blah, blah…
      </p>
      <p>
        To take life seriously, nobody needs a purpose. For a successful
        serious life, purpose is not required, all it requires is effort.
      </p>
      <p>
        However, if you want to dedicate yourself to something, purpose is
        indispensable.
        So, when you stop taking life seriously and start dedicating yourself to
      </p>
    </page>
    <page>
      <p>
        something, you start being rewarded not for
        what your teacher or boss might expect, you get rewarded for delivering
        what nobody would ever expect.
      </p>
      <p>
        Only dedication and purpose do allow us to see what the serious life
        don’t.
      </p>
    </page>
  </book>
</div>
